@font-face {
    font-display: swap;
    font-family: icon;
    src: url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/iconfont.81e5eaaf.eot);
    src: url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/iconfont.81e5eaaf.eot#iefix) format("embedded-opentype"), url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/iconfont.73552701.woff2) format("woff2"), url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/iconfont.d79652c4.woff) format("woff"), url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/iconfont.ade143db.ttf) format("truetype")
}

.icon {
    font-family: icon !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-heart-fill:before {
    content: "\e642"
}

.icon-heart:before {
    content: "\e641"
}

.icon-search:before {
    content: "\e615"
}

.icon-communications:before {
    content: "\e613"
}

.icon-tracked-places:before {
    content: "\e614"
}

.icon-password:before {
    content: "\e610"
}

.icon-calendar:before {
    content: "\e627"
}

.icon-email-fill:before {
    content: "\e6ee"
}

.icon-doller:before {
    content: "\e8fc"
}

.icon-edit:before {
    content: "\e6eb"
}

.icon-lock:before {
    content: "\e62d"
}

.icon-arrow-right-fill:before {
    content: "\e68a"
}

.icon-up:before {
    content: "\e6a9"
}

.icon-correct:before {
    content: "\e662"
}

.icon-info:before {
    content: "\e664"
}

.icon-ok:before {
    content: "\e65a"
}

.icon-phone:before {
    content: "\e6c2"
}

.icon-back:before {
    content: "\e612"
}

.icon-minus:before {
    content: "\ecd0"
}

.icon-plus:before {
    content: "\ecd3"
}

.icon-link:before {
    content: "\e611"
}

.icon-share:before {
    content: "\e60f"
}

.icon-news-cover:before {
    content: "\e689"
}

.icon-avatar:before {
    content: "\e60c"
}

.icon-offices:before {
    content: "\e60d"
}

.icon-house-cover:before {
    content: "\e60e"
}

.icon-bath:before {
    content: "\e609"
}

.icon-bed:before {
    content: "\e60a"
}

.icon-car:before {
    content: "\e60b"
}

.icon-address:before {
    content: "\e7e7"
}

.icon-close:before {
    content: "\e6e9"
}

.icon-plus-square:before {
    content: "\e797"
}

.icon-history:before {
    content: "\e604"
}

.icon-email:before {
    content: "\e605"
}

.icon-chat:before {
    content: "\e606"
}

.icon-logout:before {
    content: "\e607"
}

.icon-saved-search:before {
    content: "\e608"
}

.icon-notification:before {
    content: "\e601"
}

.icon-profile:before {
    content: "\e602"
}

.icon-facebook:before {
    content: "\ec01"
}

.icon-instagram:before {
    content: "\ec09"
}

.icon-linkedin:before {
    content: "\ec0e"
}

.icon-arrow-left:before {
    content: "\e685"
}

.icon-arrow-up:before {
    content: "\e686"
}

.icon-arrow-down:before {
    content: "\e687"
}

.icon-arrow-right:before {
    content: "\e688"
}

@font-face {
    font-family: CircularStd;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-Book.c6e5edcf.eot) format("embedded-opentype"), url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-Book.0ae959d7.woff) format("woff"), url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-Book.1dddd75a.ttf) format("truetype")
}

@font-face {
    font-family: CircularStd;
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    font-display: swap;
    src: url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-BookItalic.5e062f9d.eot) format("embedded-opentype"), url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-BookItalic.2aab777a.woff) format("woff"), url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-BookItalic.4b22ad33.ttf) format("truetype")
}

@font-face {
    font-family: CircularStd;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-Medium.160709f5.eot) format("embedded-opentype"), url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-Medium.d7e29e1b.woff) format("woff"), url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-Medium.9bcd1551.ttf) format("truetype")
}

@font-face {
    font-family: CircularStd;
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    font-display: swap;
    src: url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-MediumItalic.865dcec3.eot) format("embedded-opentype"), url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-MediumItalic.f5507628.woff) format("woff"), url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-MediumItalic.7da4f075.ttf) format("truetype")
}

@font-face {
    font-family: CircularStd;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-Bold.81c0c232.eot) format("embedded-opentype"), url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-Bold.de323d0f.woff) format("woff"), url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-Bold.a1a0d6ac.ttf) format("truetype")
}

@font-face {
    font-family: CircularStd;
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    font-display: swap;
    src: url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-BoldItalic.07b28971.eot) format("embedded-opentype"), url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-BoldItalic.97097c34.woff) format("woff"), url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/CircularStd-BoldItalic.eeeb46b1.ttf) format("truetype")
}

@font-face {
    font-family: Average Sans;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/averagesans/v16/1Ptpg8fLXP2dlAXR-HlJJNJ_DNCb71ka4ZiO.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20cf, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: Average Sans;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/averagesans/v16/1Ptpg8fLXP2dlAXR-HlJJNJ_AtCb71ka4Q.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

.page-wrap {
    width: calc(1520px + var(--container-pd)*2)
}

.page-wrap,
.section-wrap {
    transition: padding .25s ease-out 0s;
    max-width: 100%;
    padding-left: var(--container-pd);
    padding-right: var(--container-pd);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto
}

.section-wrap {
    width: calc(1120px + var(--container-pd)*2)
}

.profile-wrap {
    transition: padding .25s ease-out 0s;
    max-width: 100%;
    width: calc(1000px + var(--container-pd)*2);
    padding-left: var(--container-pd);
    padding-right: var(--container-pd);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto
}

.image-loading,
img[imgbg=loading] {
    background-color: var(--color-theme-light);
    background-image: url(https://assets.oneroof.co.nz/rebuild/aws/20241025095026/_next/static/media/img-loading.dbab560c.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 40%;
    background-size: min(50%, 100px)
}

img[imgsize=sm] {
    background-size: 20%
}

.bone,
.skeleton-wrap span {
    display: block;
    background: linear-gradient(135deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
    background-size: 400% 100%;
    animation: skeleton-ani 1.4s ease .1s infinite;
    border-radius: 4px
}

@keyframes skeleton-ani {
    0% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

/*# sourceMappingURL=07051c34a03a41b8.css.map*/